body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 10px;
}

section {
    margin-bottom: 20px;
}

.song {
    background-color: #f4f4f4;
    margin-bottom: 10px;
    padding: 10px;
}

footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}
